.testimonials-widget{
  padding: 60px 0 62px;
  background: #e4e8eb;
  border-top: 1px solid #fff;
  border-bottom: 2px solid #fff;
  &__container{
    width: 100%;
    max-width: $content-width + 40px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__header{
    margin: 0 auto 25px;
    overflow: hidden;
  }
  &__title{
    float: left;
    &>*{
      margin: 0;
    }
  }
  &__nav{
    float: right;
  }
  &__carousel{
    width: 100%;
  }
  &__item{
    position: relative;
    width: 100%;
    padding: 17px 0 6px 50px;
    border-bottom: 1px solid #c9cfd3;
    margin: 0;
    font-size: 15px;
    color: #2f434d;
    @include media-max(480px){
      padding: 17px 0 6px 0;
    }
    &:before{
      content: '';
      display: block;
      width: 30px;
      height: 26px;
      background: #2f434d;
      position: absolute;
      left:0;
      top: 50%;
      margin-top: -13px;
      @include media-max(480px){
        display: none;
      }
    }

    &-header{
      margin-bottom: 7px;
    }
    &-name{
      font-weight: 600;
    }
    &-date{
      display: inline-block;
      font-size: 12px;
      padding-left: 13px;
      margin-left: 7px;
      position: relative;
      vertical-align: bottom;
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 2px;
        position: absolute;
        left: 0;
        top: 50%;
        background: #2f434d;
      }
    }

  }
  &__more{
    display: block;
    margin: 20px auto;
  }

  .bx-wrapper{
    min-height: 270px;
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 0;
  }
  .bx-viewport{
    //&:before{
    //  content: '';
    //  display: block;
    //  width: 100%;
    //  height: 5px;
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  background: rgba(228,232,235,1);
    //  background: linear-gradient(to bottom, rgba(228,232,235,1) 0%, rgba(255,255,255,0) 100%);
    //}
  }
}
