<a class="print-btn js-print" href="">Printable version</a>
<div class="contacts">
    <div class="contacts__item">
        <img src="http://via.placeholder.com/34x34/c0c0c0/ffffff" alt="" title="Phone">
        Phone
        <a href="" class="-bold">+971 50 498 4734</a>
    </div>
    <div class="contacts__item">
        <img src="http://via.placeholder.com/34x34/c0c0c0/ffffff" alt="Email" title="Email">
        Email
        <a href="">info@yachtrentaldubai.ae</a>
    </div>
    <div class="contacts__item">
        <img src="http://via.placeholder.com/34x34/c0c0c0/ffffff" alt="Address" title="Address">
        Address
        <span>Dubai Marina Yacht Club, Dubai, UAE</span>
    </div>
</div> 