<nav class="main-menu js-menu-smart js-menu-mobile">

        <div class="main-menu__switcher">
            <button class="main-menu__switcher-btn" data-menu-mobile--switcher-btn><span>Меню</span></button>
        </div>
    
        <ul class="is-root" data-menu-mobile--root>
            <li class="-has-dropdown">
                <a href="#">Demo</a>
                <div>
                    <ul>
                        <li><a href="demo/grid.html">Grids</a></li>
                        <li><a href="demo/typography.html">Typography</a></li>
                        <li><a href="demo/tables.html">Tables</a></li>
                        <li><a href="demo/form-elements.html">Forms elements</a></li>
                        <li><a href="demo/form-structure.html">Forms structure</a></li>
                    </ul>
                </div>
            </li>
            <li class="-has-dropdown">
                <a href="/products-subcat.html">Catalog</a>
                <div>
                    <ul>
                        <li><a href="/products-list.html">Catalog subdir #1</a></li>
                        <li><a href="/products-list.html">Catalog subdir #2</a></li>
                        <li><a href="/products-list.html">Catalog subdir #3</a></li>
                        <li><a href="/products-list.html">Catalog subdir #4</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/gallery-list.html">Gallery</a></li>
            <li class="is-active"><a href="/reviews-list.html">Reviews</a></li> 
            <li><a href="/publication-list-article.html">Publication</a></li>
            <li><a href="/text.html">Text</a></li>
            <li><a href="/contacts.html">Contacts</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Гарантия</a></li>
            <li><a href="#">Сертификаты</a></li>
        </ul>
        
    </nav>
    <!-- /main-menu end -->
    