<!-- text-block -top -->
<div class="text-block -top">
    <div class="text-block__container">
        <h1>Заголовок H1</h1>
        <p>
            <img class="response-img-md" src="http://via.placeholder.com/400x370" style="float: left; margin: -95px 50px 20px 0;" alt="">
            Флористическая мастерская «LEBUKET» — это мир восхитительных букетов и приятных сюрпризов, куда мы приглашаем каждого желающего! Услуги профессионалов, для которых флористика стала любимым делом, продуманные маршруты доставки, соблюдение сроков — вот главные принципы нашей работы.</p>

        <div class="js-spoiler-area hidden-md" data-btn-class="-secondary -fullwidth">
            <p>Наша главная задача — создание индивидуальных букетов, под конкретную ситуацию. Здесь нет границ творческой фантазии,
                в наших руках вся палитра красок! И как творящий музыку музыкант, как пишущий картину художник — мы аранжируем цветы, имея главной целью — передать настроение.</p>
        </div>

    </div>
</div>
<!-- / text-block -top END -->