<div class="reviews-form">
    <div class="reviews-form__container">
        <div class="form__heading">Leave testimonial</div>
        <div class="form -columns">
            <form action="" class="ajax" data-goal-name="Review" data-goal-category="Enquiry">
                <div class="col-1-2">
                    <div class="form__item -name">
                        <input type="text" placeholder="Name">
                        <div class="form__item-error"></div>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="form__item -email">
                        <input type="email" placeholder="Email">
                        <div class="form__item-error"><ul><li>Incorrect format. Example: example@domain.com</li></ul></div>
                    </div>
                </div>
                <div class="col-1-1">
                    <div class="form__item">
                        <textarea placeholder="Text"></textarea>
                        <div class="form__item-error"></div>
                    </div>
                </div>
                <div class="col-1-1">
                    <div class="btns-container ">
                        <div class="privacy-police -center">
                            Нажимая на кнопку, я даю согласие <br> на <a href="">обработку персональных данных</a>
                        </div>
                        <button class="btn -center" type="submit">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
