<div class="reviews-form">
    <p class="reviews-form__title h2">Leave testimonial</p>
    <div class="reviews-form form -columns">
        <form action="" class="ajax" data-goal-name="Review" data-goal-category="Enquiry">
            <div class="col-1">
                <div class="form__item -name">
                    <input type="text" placeholder="Name">
                    <div class="form__item-error"></div>
                </div>
                <div class="form__item -email">
                    <input type="email" placeholder="Email">
                    <div class="form__item-error"><ul><li>Incorrect format. Example: example@domain.com</li></ul></div>
                </div>
            </div>
            <div class="col-2">
                <div class="form__item">
                    <textarea placeholder="Text"></textarea>
                    <div class="form__item-error"></div>
                </div>
            </div>

            <div class="btns-container -align-right">
                <button class="btn -invert" type="submit">Send</button>
            </div>

        </form>
    </div>
</div>
