/**
 * MIXINS LIST:
 * @mixin cfix-after
 * @mixin cfix-before
 * @mixin cfix
 * @mixin container( $maxWidth: 1280px)
 * @mixin media-max($resolution)
 * @mixin media-min($resolution)
 * @mixin media-interval($resolution-min, $resolution-max)
 * @mixin smooth-drop-down-hide
 * @mixin smooth-drop-down-show
 */

/**
 * Оменяем обтекание ( float )
 */
@mixin cfix-after{
  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    *zoom: 1;
  }
}
@mixin cfix-before{
  &:before{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    *zoom: 1;
  }
}
@mixin cfix{
  @include cfix-before;
  @include cfix-after;
}

/**
 * Центрированый контейнер
 */
@mixin container( $maxWidth: 1280px){
  width: 100%;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  @include cfix();
}

/**
 * Миксины для работы с медиазапросами
 */
@mixin media-max($resolution){
  @media (max-width: $resolution) {
    @content;
  }
}
@mixin media-min($resolution){
  @media (min-width: $resolution) {
    @content;
  }
}
@mixin media-interval($resolution-min, $resolution-max){
  @media (min-width: $resolution-min) and (max-width: $resolution-max){
    @content;
  }
}

/**
 * Появление выпадашки
 */
@mixin smooth-drop-down-hide($is-custom-transition: false){ // скрываем выпадашку
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  // если нужен простой вариант простой вариант
  @if $is-custom-transition {
    @content;
  } @else {
    transition: opacity,transform .2s linear;
  }
}
@mixin smooth-drop-down-show(){ // показываем выпадашку ( по ховеру )
  opacity: 1;
  transform: scaleY(1);
}