<!-- text-block -bottom -->
<div class="text-block -bottom">
    <div class="text-block__container">
        <h2>Заголовок H2</h2>
        <p>
            <img class="response-img-md" src="http://via.placeholder.com/400x310" style="float: right; margin: -55px 0 20px 50px; border-radius: 8px;" alt="">
            Флористическая мастерская «LEBUKET» — это мир восхитительных букетов и приятных сюрпризов, куда мы приглашаем каждого желающего! Услуги профессионалов, для которых флористика стала любимым делом, продуманные маршруты доставки, соблюдение сроков — вот главные принципы нашей работы.</p>

        <div class="js-spoiler-area hidden-md" data-btn-class="-secondary -fullwidth">
            <p>Наша главная задача — создание индивидуальных букетов, под конкретную ситуацию. Здесь нет границ творческой фантазии, в наших руках вся палитра красок! И как творящий музыку музыкант, как пишущий картину художник — мы аранжируем цветы, имея главной целью — передать настроение.</p>
        </div>
    </div>
</div>
<!-- / text-block -bottom END -->