.advantages {
    padding: 40px 0 60px;
    background: #e4e4e3;
    @media (max-width: 768px) {
        padding: 20px 0 20px;
    }
    &__container {
        width: 100%;
        max-width: $content-width + 40px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &__header {
        margin: 0 auto 25px;
        overflow: hidden;
    }
    &__title {
        h2{
            text-align: center;
        }
    }
    &__list{
        @include grid(40px);
        @media (max-width: 980px) {
            @include grid(20px);
        }
    }
    &__item {
        @include grid-col(1/5, 40px);
        @media (max-width: 980px) {
            @include grid-col(1/5, 20px);
        }
        @media (max-width: 768px) {
            @include grid-col(1, 20px);
        }
        &-img {
            display: block;
            width: 120px;
            padding: 5px;
            margin: 0 auto 20px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0px 10px 65.6px 14.4px rgba(18, 38, 74, 0.10);
        }
        img {
            display: block;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            object-fit: cover;
        }
        &-text{
            text-align: center;
        }
        &-name{
            font-style: 14px;
        }
    }
    &__more{
        display: none;
        &.btn{
            display: none;
            color: #3990ab;
            @media (max-width: 768px) {
                margin-top: 20px;
                display: block;
            }
        }
    }
}
