<footer class="footer l-footer">
    <div class="footer__menu">
        <div class="l-container">

        </div>
    </div>
    <div class="footer__middle">
        <div class="footer__middle-container l-container">
            <a class="logo-footer js-logo-footer" href="/"><img src="http://via.placeholder.com/170x80/c0c0c0/ffffff" alt="TopCharter" title="TopCharter"></a>

            <a class="social-footer-icon icon-vkontakte" href="" rel="noreferrer noopener" target="_blank">vkontakte</a>
            <a class="social-footer-icon icon-facebook" href="" rel="noreferrer noopener" target="_blank">facebook</a>
            <a class="social-footer-icon icon-twitter" href="" rel="noreferrer noopener" target="_blank">twitter</a>
            <a class="social-footer-icon icon-google" href="" rel="noreferrer noopener" target="_blank">google</a>
            <a class="social-footer-icon icon-instagram" href="" rel="noreferrer noopener" target="_blank">instagram</a>
        </div>
    </div>
    <div class="footer__contacts">
        <div class="footer__contacts-container l-container">
            <a class="footer__contacts-item -phone" href="tel:+74957403410">8 (495) 740-34-10</a>
            <a class="footer__contacts-item -email" href="mailto:mcn@agentmsk.com">mcn@agentmsk.com</a>
            <span class="footer__contacts-item -location">г. Москва, ул. Воронцовская, д. 35Б, корп. 1</span>
            <a class="footer__contacts-item -location" href="/contacts.html">Карта проезда</a>
        </div>
    </div>
    <div class="footer__copywrite">
        © 2017. Все права защищены
    </div>
</footer>