<p>
    <img class="bigpic" style="float: right; margin: 0 0 20px 20px" src="http://via.placeholder.com/320x240/c0c0c0/ffffff" alt="">
    Come have the experience of a lifetime through Seven Yachts (SY), the number one luxury yacht rental company in Dubai and the UAE. SY makes a guarantee for a quality experience that cannot be matched. There is a very strong reason we’re the number one charter brokerage; we’re experienced, we care and we have an amazing attention to detail. SY can prove all of these things the moment you make the decision to be a part of the most successful Dubai yacht charter in the UAE. Seven Yachts takes part in all aspects of the yachting industry, which is why we offer on the ground representation for both owners and charterers.</p>
<p>Just like our product, we aim to maintain an atmosphere of exclusivity throughout all aspects of our business. That's why we’re operating out of the most high-class resort in the UAE, the recently opened Bulgari Hotel and Residences.</p>

<h2>Heading h2</h2>
<p>
    <img class="bigpic" style="float: right; margin: 0 0 20px 20px" src="http://via.placeholder.com/320x240/c0c0c0/ffffff" alt="">
    While for locations such as Nikki Beach and Burj Arab, there are yacht charter packages available for half a day to a day, Seven Yachts wants you to truly experience what it is to live a top-tier level of life and are delivering this yacht cruise to you for 3 days to 1 week. By selecting the 3 days minimum you can simply venture into Oman on a luxury yacht to spectate the wonderful natural life & invest time into the historical city of Muscat and learn about its heritage. Or, by choosing a full week, you’re given the opportunity of a lifetime to truly experience what it is to be apart of the high life while taking your friends or family on a holiday through one of the most magnificent places within the Middle East on a luxury mega-yacht.
</p>
<p>While for locations such as Nikki Beach and Burj Arab, there are yacht charter packages available for half a day to a day, Seven Yachts wants you to truly experience what it is to live a top-tier level of life and are delivering this yacht cruise to you for 3 days to 1 week. By selecting the 3 days minimum you can simply venture into Oman on a luxury yacht to spectate the wonderful natural life & invest time into the historical city of Muscat and learn about its heritage. Or, by choosing a full week, you’re given the opportunity of a lifetime to truly experience what it is to be apart of the high life while taking your friends or family on a holiday through one of the most magnificent places within the Middle East on a luxury mega-yacht.</p>

<h3>Heading h3</h3>
<p>While for locations such as Nikki Beach and Burj Arab, there are yacht charter packages available for half a day to a day, Seven Yachts wants you to truly experience what it is to live a top-tier level of life and are delivering this yacht cruise to you for 3 days to 1 week:</p>
<ul class="with_marker">
    <li>By selecting the 3 days minimum you can simply venture into Oman on a luxury yacht to spectate the wonderful natural life & invest time into the historical city of Muscat and learn about its heritage.</li>
    <li>Or, by choosing a full week, you’re given the opportunity of a lifetime to truly experience what it is to be apart of the high life while taking your friends or family on a holiday through one of the most magnificent places within the Middle East on a luxury mega-yacht.</li>
    <li>By selecting the 3 days minimum you can simply venture into Oman on a luxury yacht to spectate the wonderful natural life & invest time into the historical city of Muscat and learn about its heritage.</li>
</ul>

<p>While for locations such as Nikki Beach and Burj Arab, there are yacht charter packages available for half a day to a day, Seven Yachts wants you to truly experience what it is to live a top-tier level of life and are delivering this yacht cruise to you for 3 days to 1 week:</p>
<ul>
    <li>By selecting the 3 days minimum you can simply venture into Oman on a luxury yacht to spectate the wonderful natural life & invest time into the historical city of Muscat and learn about its heritage.</li>
    <li>Or, by choosing a full week, you’re given the opportunity of a lifetime to truly experience what it is to be apart of the high life while taking your friends or family on a holiday through one of the most magnificent places within the Middle East on a luxury mega-yacht.</li>
    <li>By selecting the 3 days minimum you can simply venture into Oman on a luxury yacht to spectate the wonderful natural life & invest time into the historical city of Muscat and learn about its heritage.</li>
</ul>

<table class="nice_table js-test__table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>13</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>42</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>24</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>24</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>24</td>
        </tr>
    </tbody>
</table>