*.log
*.sql.gz
/.idea/
/.vscode/
/.web-server-pid
/app/config/parameters.yml
/assets/translations/*
!assets/translations/config.js
!assets/translations/messages/
/build/
/node_modules/
/src/AppBundle/Command/TestCommand.php
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/
/web/bundles/
/web/cache/*
!web/cache/.gitkeep
/web/files/images/
/web/files/uploads/*
!web/files/uploads/.gitkeep
web/*.html
www
