<!-- bottom-feedback -->
<div class="bottom-feedback">
    <div class="bottom-feedback__container">
        <div class="bottom-feedback__img-container">
            <img class="bottom-feedback__img -center" src="http://via.placeholder.com/770x390" alt="feedback" title="feedback">
            <img class="bottom-feedback__img -left" src="http://via.placeholder.com/180x290/3990ab/fff" alt="feedback" title="feedback">
            <img class="bottom-feedback__img -right" src="http://via.placeholder.com/240x160/3990ab/fff" alt="feedback" title="feedback">
        </div>
        <div class="bottom-feedback__form">
            {% include './base-2__feedback-form.twig' %}
        </div>
    </div>
</div>
<!-- / bottom-feedback END -->