<!-- bottom-feedback -->
<div class="bottom-feedback">
    <div class="bottom-feedback__container">
        <div class="bottom-feedback__form">

            {% include './base-1__feedback-form.twig' %}

        </div>
    </div>
    <div class="bottom-feedback__map js-map"
        data-map-center="25.072619;55.138289" 
        data-map-coords="25.072619;55.136289" 
        data-map-desc="TopCharters" 
        data-map-label="TopCharters" 
        data-map-zoom="17" 
        data-map-breakpoint="768" 
        data-map-type="yandex">
    </div>
</div>
<!-- / bottom-feedback END --> 