<div class="form -bottom-feedback">
    <form action="" class="ajax" data-goal-name="Feedback" data-goal-category="Enquiry">
        <div class="form__heading">Напишите нам</div>
        <div class="col">
            <div class="form__item -name">
                <input type="text" placeholder="Как вас зовут?">
                <div class="form__item-error"></div>
            </div>
            <div class="form__item -phone">
                <input type="tel" placeholder="Номер телефона">
                <div class="form__item-error"><ul><li>Неправильный формат. Пример: 88008008080</li></ul></div>
            </div>
            <div class="form__item -email">
                <input type="email" placeholder="Электронная почта">
                <div class="error"></div>
            </div>
            <div class="form__item -text">
                <textarea placeholder="Текст сообщения"></textarea>
                <div class="form__item-error"></div>
            </div>
        </div>

        <div class="btns-container">
            <div class="privacy-police -center">
                Нажимая на кнопку, я даю согласие <br> на <a href="">обработку персональных данных</a>
            </div>
            <button class="btn -fullwidth" type="submit">Отправить</button>
        </div>
    </form>
</div>