<!-- inner-feedback -->
<div class="inner-feedback">
    <div class="inner-feedback__container">
        <div class="inner-feedback__form">
            {% include './base-2__feedback-form-inner.twig' %}
        </div>
    </div>
</div>
<!-- / inner-feedback END -->