{% extends "../_layout.twig" %}

{# Настройки #} 
{% block title %}Text page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}

{% block styles %} <link rel="stylesheet" href="../assets/build-dev/app.css">{% endblock %}

{% block main %} 
<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Text</span> 
</div> 
<h1>Text example</h1>
<div class="l-content">
    {% include '../../templates-html/demo/default__form-elements.twig' %}
</div>
{% endblock %}  

{% block footer %}
    {% include '../../templates-html/layout/footer/base-1__footer.twig' %}
{% endblock %}
 
{% block scripts %} 
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" ></script>
{# <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC4T-H8Uh6hP2gSP05DyocP-C3B88gH790'></script> #}
<script src="../assets/build-dev/app.js"></script> 
{% endblock %}