<div class="form">
    <form action="" class="grid">
        <div class="col-1-3 col-md-1-1">
            <div class="form__item">
                <label>Name</label>
                <input type="text" placeholder="Name">
                <div class="error"></div>
            </div>
            <div class="form__item">
                <label>Password</label>
                <input type="password" placeholder="Password">
                <div class="error"></div>
            </div>
            <div class="form__item">
                <label>Select</label>
                <select>
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                    <option value="">option 3</option>
                    <option value="">option 4</option>
                </select>
                <div class="error"></div>
            </div>
            <div class="item is-wrong">
                <label>Email</label>
                <input type="email" placeholder="Email">
                <div class="error">
                    <ul>
                        <li>Неправильный формат.
                            <br/>Пример: example@domain.ru</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1-3 col-md-1-1">
            <div class="form__item">
                <label>Text</label>
                <input type="text" placeholder="Text">
                <div class="error"></div>
            </div>
            <div class="item is-disabled">
                <label>Textarea</label>
                <textarea placeholder="Textarea" disabled></textarea>
                <div class="error"></div>
            </div>
            <div class="note">Мы гарантируем конфиденциальность данных.</div>
        </div>
        <div class="col-1-3 col-md-1-1">
            <div class="item is-disabled">
                <label>Text</label>
                <input type="text" placeholder="Text" disabled>
                <div class="error"></div>
            </div>
            <div class="form__item">
                <label>Checkbox</label>
                <label class="custom-checkbox">
                    <input type="checkbox" value="1" />
                    <span>Checkbox</span>
                </label>
                <label class="custom-checkbox is-disabled">
                    <input type="checkbox" disabled value="1" />
                    <span>Checkbox</span>
                </label>
            </div>
            <div class="form__item">
                <label>Radio</label>
                <label class="custom-radio">
                    <input type="radio" name="radio" value="1" />
                    <span>Radio 1</span>
                </label>
                <label class="custom-radio">
                    <input type="radio" name="radio" value="2" />
                    <span>Radio 2</span>
                </label>
                <label class="custom-radio is-disabled">
                    <input type="radio" name="radio" disabled value="2" />
                    <span>Radio 2</span>
                </label>
            </div>
        </div>
        <div class="btns-container col-1-1">
            <button class="btn btn-sm" type="submit">Submit</button>
            <button class="btn btn-sm is-disabled" type="submit" disabled>Disabled</button>
        </div>
        <div class="btns-container col-1-1">
            <button class="btn btn-md" type="submit">Submit</button>
            <button class="btn btn-md is-disabled" type="submit" disabled>Disabled</button>
        </div>
        <div class="btns-container col-1-1">
            <button class="btn btn-lg" type="submit">Submit</button>
            <button class="btn btn-lg is-disabled" type="submit" disabled>Disabled</button>
        </div>
    </form>
</div>