.hits-widget{
  padding: 60px 0 82px;
  background: #e4e8eb;
  position: relative;
  overflow: hidden;

  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    z-index: 3;
    display: block;
    width: 960px;
    height: 100%;
    pointer-events: none;
  }
  &:before{
    left: 50%;
    margin-left: -1000px;
    background: linear-gradient(to right, rgba(228,232,235,1) 0%, rgba(228,232,235,1) 20%, rgba(255,255,255,0) 100%);

  }
  &:after{
    right: 50%;
    margin-right: -1000px;
    background: linear-gradient(to left, rgba(228,232,235,1) 0%, rgba(228,232,235,1) 20%, rgba(255,255,255,0) 100%);
  }

  &__header{
    display: block;
    width: 100%;
    max-width: $content-width + 40px;
    padding: 0 20px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative;
    z-index: 5;
  }
  &__title{
    float: left;
    &>*{
      margin: 0;
    }
  }
  &__nav{
    float: right;
    @include media-max(420px){
      display: none;
    }
  }
  &__carousel{

  }
  &__item{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgba(69, 69, 69, 0.26);
    width: 305px;
    height: 380px;
    border-radius: 5px;
  }
  .owl-stage-outer{
    padding: 5px 0 10px;
  }
}

.hit-item{
  &__img{
    display: table;
    width: 100%;
    height: 275px;
    border-bottom: 1px solid #dadee0;
    a{
      display: table-cell;
      vertical-align: middle;
    }
    img{
      display: block;
      width: auto;
      max-width: 250px;
      max-height: 250px;
      margin: 0 auto;
    }
  }
  &__text{
    height: 105px;
    padding: 5px 22px 20px;
    position: relative;
  }
  &__name{
    color: #3d728e;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
  }
  &__price{
    position: absolute;
    left: 22px;
    bottom: 10px;
  }
  &__icons{
    position: absolute;
    left: 0;
    top: 17px;
    z-index: 2;
  }
  &__icon{
    display: inline-block;
    padding: 1px 8px;
    font-size: 12px;
    line-height: 20px;
    background: #000;
    color: #fff;
    float: left;
    clear: both;
    margin-bottom: 7px;

    &.-hit{

    }
    &.-stock{

    }
  }
  &__buy{
    display: block;
    width: 46px;
    height: 46px;
    position: absolute;
    right: 17px;
    top: 17px;
    font-size: 11px;
    background: #5d8ea8;
    color: #fff;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    &:hover{
      opacity: 0.8;
    }
  }
}