<!-- banner-list -->
<div class="banner-list js-banner-list">

    <div class="banner-list__header">
        <div class="banner-list__title">
            <h2>Акции</h2>
        </div>
        <div class="banner-list__nav nav-arrow">
            <button class="banner-list__nav-btn nav-arrow__btn -prev js-nav-prev">prev</button>
            <button class="banner-list__nav-btn nav-arrow__btn -next js-nav-next">next</button>
        </div>
    </div>

    <div class="banner-list__container">
        <div class="banner-list__carousel owl-carousel">
            <div class="banner-list__item">
                <a href="" class="banner-list__item-img"><img src="http://via.placeholder.com/305x150" alt=""></a>
                <div class="banner-list__item-text">
                    <a href="" class="banner-list__item-title">Заголовок баннера</a>
                    <p>Краткое описание баннера</p>
                </div>
            </div>
            <div class="banner-list__item">
                <a href="" class="banner-list__item-img"><img src="http://via.placeholder.com/305x150" alt=""></a>
                <div class="banner-list__item-text">
                    <a href="" class="banner-list__item-title">Заголовок баннера</a>
                    <p>Краткое описание баннера</p>
                </div>
            </div>
            <div class="banner-list__item">
                <a href="" class="banner-list__item-img"><img src="http://via.placeholder.com/305x150" alt=""></a>
                <div class="banner-list__item-text">
                    <a href="" class="banner-list__item-title">Заголовок баннера</a>
                    <p>Краткое описание баннера</p>
                </div>
            </div>
            <div class="banner-list__item">
                <a href="" class="banner-list__item-img"><img src="http://via.placeholder.com/305x150" alt=""></a>
                <div class="banner-list__item-text">
                    <a href="" class="banner-list__item-title">Заголовок баннера</a>
                    <p>Краткое описание баннера</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner-list END -->