.btn{
  display: block;
  width: 280px;
  height: 45px;
  max-width: 100%;
  margin: 0 auto 20px;

  border: none;
  background: #3990ab;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  line-height:  45px;
  transition: 0.3s;

  &__loader{
    display: block;
    width: 20px;
    height: 20px;
    margin: 12px auto;
  }

  &.-secondary{
    background: #f1ebd0;
    color: #5f5733;
  }

  &.-dark{
    background: #40545d;
  }

  &:hover{
    background: #40545d;
    &.-secondary{
      background: #5f5733;
      color: #f1ebd0;
    }
    &.-dark{
      background: #46616d;
    }
  }

  &.-fullwidth{
    width: 100%;
  }

  &.-inline{
   display: inline-block;
  }

}

.btns-container{
  &.-align-right{
    @media (min-width: $md) {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      .btn{
        margin: 0 0 20px 30px;
      }
    }
  }
}