.form {
  &__heading {
      font-size: 30px;
      font-weight: 300;
      line-height: 40px;
      text-align: center;
      margin-bottom: 15px;
  }
  &__item {
      margin-bottom: 12px;
      text-align: left;
      &-error {
          text-align: left;
          font-size: 12px;
          line-height: 16px;
          ul {
              padding: 0 5px;
              margin: 0;
              list-style: none;
          }
      }
  }
  .form-element-property {
      display: block;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid #c6cfd4;
      border-radius: 5px;
      font-size: 15px;
      color: #2f434d;
      background: #fff;
      @include animation();
      &:focus {
          box-shadow: 0 0 4px 0 rgba(119, 171, 196, 0.4);
          border-color: rgb(123, 175, 201);
      }
  }
  input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
      @extend .form-element-property;
      height: 45px;
      &:disabled {
          color: #c6cfd4;
      }
  }
  textarea {
      @extend .form-element-property;
      height: 187px;
      padding-top: 10px;
      padding-bottom: 10px;
      resize: none;
  }
  select {
      @extend .form-element-property;
      height: 45px;
  }
  .custom-checkbox {
      font-size: 13px;
      margin-bottom: 12px;
  }
  &.-modal {
    .form__item {
      margin-bottom: 20px;
     }
    input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
        border: 1px solid #91c3d7;
    }
    .custom-checkbox {
        margin-bottom: 20px;
        color: #949ca0;
    }
  }
  &.-inline-center {
    .form__item {
      width: 265px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }


  

/*==========================================================================================*/
/* Структуры форм                                                                           */
/*==========================================================================================*/

/* Default */

/*==========================================================================================*/
/* line - все item'ы формы располагаются в линию, как inline-block'и */

  &.-line {
      $grid-gap: 20px;
      @include grid($grid-gap);
      .item {
          @include grid-col(2/5, $grid-gap);
          @include grid-col-media(1/2, $grid-gap, 'md');
          @include grid-col-offset-media(1/4, $grid-gap, 'md');
          @include grid-col-media(1, $grid-gap, 'sm');
          @include grid-col-offset-media(0, $grid-gap, 'sm');
      }
      .btns-container {
          @include grid-col(1/5, $grid-gap);
          @include grid-col-media(1/2, $grid-gap, 'md');
          @include grid-col-offset-media(1/4, $grid-gap, 'md');
          @include grid-col-media(1, $grid-gap, 'sm');
          @include grid-col-offset-media(0, $grid-gap, 'sm');
      }
  }


  /*==========================================================================================*/
  /* columns - добавляются колонки, внутри которых вставляются item'ы формы */

  &.-columns {
      $grid-gap: 26px;
      @include grid($grid-gap);
      .col-1 {
          @include grid-col(2/5, $grid-gap);
          @include grid-col-media(1, $grid-gap, 'md');
      }
      .col-2 {
          @include grid-col(3/5, $grid-gap);
          @include grid-col-media(1, $grid-gap, 'md');
      }
  }


  /*==========================================================================================*/
  /* horizontal - у каждого item'а название и поле расположены в линию */

  &.-horizontal {
      .form__item {
          $grid-gap: 20px;
          @include grid($grid-gap);
          margin-bottom: 10px;
          &-label {
            @include grid-col(1/6, $grid-gap);
            text-align: right;
            @include grid-col-media(1, $grid-gap, 'sm') {
                text-align: left;
            }
          }
          &-field {
            @include grid-col(5/6, $grid-gap);
            @include grid-col-media(1, $grid-gap, 'sm');
          }
          &-error {
            @include grid-col(5/6, $grid-gap);
            @include grid-col-offset(1/6, $grid-gap);
            margin-top: -5px;
            @include grid-col-media(1, $grid-gap, 'sm');
            @include grid-col-offset-media(0, $grid-gap, 'sm');
          }
      }
  }


  /*==========================================================================================*/
  /* horizontal + note - аналогично horizontal, только к полям добавляется описание */

  &.-horizontal-note {
    .form__item {
      $grid-gap: 20px;
      @include grid($grid-gap);
      margin-bottom: 10px;
      &-label {
          @include grid-col(1/6, $grid-gap);
          text-align: right;
          @include grid-col-media(1, $grid-gap, 'md') {
              text-align: left;
              order: 1;
          }
      }
      &-field {
          @include grid-col(1/3, $grid-gap);
          @include grid-col-media(1, $grid-gap, 'md') {
              order: 2;
          }
      }
      &-note {
          @include grid-col(1/2, $grid-gap);
          @include grid-col-media(1, $grid-gap, 'md') {
              order: 4;
          }
      }
      &-error {
          @include grid-col(5/6, $grid-gap);
          @include grid-col-offset(1/6, $grid-gap);
          margin-top: -5px;
          @include grid-col-media(1, $grid-gap, 'md') {
              order: 3;
              ul {
                  margin: 5px 0;
              }
          }
          @include grid-col-offset-media(0, $grid-gap, 'md');
      }
    }
  }
}
