.l-column-two{
  padding: 60px 20px 50px;
  overflow: hidden;
  &__container{
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding:  0 ;

  }
  &__grid{
    @include grid(50px);
  }
  &__column{
    &:first-child{
      @include grid-col(50/96, 50px);

      @include media-max(760px){
        @include grid-col(1, 50px);
      }
    }
    &:last-child{
      @include grid-col(46/96, 50px);
      @include media-max(760px){
        @include grid-col(1, 50px);
      }
    }
  }
}

.certificates{
  &__header{
    display: block;
    width: 100%;
    margin: 0 auto 40px;
    overflow: hidden;
  }
  &__title{
    float: left;
    &>*{
      margin: 0;
    }
  }
  &__nav{
    float: right;
    @include media-max(420px){
      display: none;
    }
  }
  &__item a{
    display: block;
    margin-bottom: 20px;
  }

}

.partners{
  &__header{
    display: block;
    width: 100%;
    margin: 0 auto 40px;
    overflow: hidden;
  }
  &__title{
    float: left;
    &>*{
      margin: 0;
    }
  }
  &__nav{
    float: right;
    @include media-max(420px){
      display: none;
    }
  }
  &__item a{
    display: block;
    margin-bottom: 24px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    overflow: hidden;
  }
}
