.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    background: #88a0ab;
    &.active {
        background: #30454f;
    }
}

.slick-dots {
    text-align: center;
    margin-top: 20px;
    li {
        button:before {
            display: inline-block;
            width: 12px;
            height: 12px;
            padding: 0;
            margin: 4px;
            border-radius: 50%;
            background: #88a0ab;
        }
        &.slick-active {
            button:before {
                background: #30454f;
            }
        }
    }
}