<!-- publication-widget -->
<section class="publication-widget l-container">
    <section class="publication-widget__container">

        <div class="publication-widget__col">
            <h2>Новости</h2>
            <div class="publication-widget__item">
                <div class="publication-widget__item-top">
                    <a class="publication-widget__item-img" href="/text.html"><img src="http://via.placeholder.com/480x200" alt="Название" title="Название"></a>
                    <a class="publication-widget__item-btn" href="/text.html" rel="nofollow">Смотреть все новости</a>
                    <span class="publication-widget__item-date">13 дек 2017</span>
                </div>
                <div class="publication-widget__item-text">
                    <a href="/text.html" class="publication-widget__item-name">Самый большой в мире цветок распустился в Бельгии около города Антверпен</a>
                    <p>В ботаническом саду Меиз, который располагается поблизости от бельгийской столицы Брюсселя, распустился самый большой в мире цветок аморфофаллус титанический.</p>
                </div>
            </div>
        </div>

        <div class="publication-widget__col">
            <h2>Статьи</h2>
            <div class="publication-widget__item">
                <div class="publication-widget__item-top">
                    <a class="publication-widget__item-img" href="/text.html"><img src="http://via.placeholder.com/480x200" alt="Название" title="Название"></a>
                    <a class="publication-widget__item-btn" href="/text.html" rel="nofollow">Смотреть все статьи</a>
                </div>
                <div class="publication-widget__item-text">
                    <a href="/text.html" class="publication-widget__item-name">Выведены самые дорогие розы в мире — естественной радужной расцветки</a>
                    <p>Любое торжество, любой праздник в нашей жизни не обходится без цветов. Цветы это и признание человека в любви, и дань уважения к людям, и даже скорбь об умерших близких.</p>
                </div>
            </div>
        </div>

    </section>
</section>
<!-- / publication-widget END -->