<!-- catalog-subdir -->
<section class="catalog-subdir -col-2">
    <nav class="catalog-subdir__container js-menu-mobile">
        <button class="catalog-subdir__btn-switcher btn -dark" data-menu-mobile--switcher-btn>Каталог продукции</button>
        <ul class="catalog-subdir__list" data-menu-mobile--root>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/100x100" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Блузы и рубашки</a>
            </li>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/100x100" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Пальто и парки</a>
            </li>
        </ul>
    </nav>
</section>
<!-- / catalog-subdir END -->
<!-- catalog-subdir -->
<section class="catalog-subdir -col-3">
    <nav class="catalog-subdir__container js-menu-mobile">
        <button class="catalog-subdir__btn-switcher btn -dark" data-menu-mobile--switcher-btn>Каталог продукции</button>
        <ul class="catalog-subdir__list" data-menu-mobile--root>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/120x120" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Блузы и рубашки</a>
            </li>
            <li class="catalog-subdir__item catalog-subdir-item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/120x120" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Пальто и парки</a>
            </li>
            <li class="catalog-subdir__item catalog-subdir-item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/120x120" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Куртки и дубленки</a>
            </li>
        </ul>
    </nav>
</section>
<!-- / catalog-subdir END -->
<!-- catalog-subdir -->
<section class="catalog-subdir -col-5">
    <nav class="catalog-subdir__container js-menu-mobile">
        <button class="catalog-subdir__btn-switcher btn -dark" data-menu-mobile--switcher-btn>Каталог продукции</button>
        <ul class="catalog-subdir__list" data-menu-mobile--root>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/110x110" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Блузы и рубашки</a>
            </li>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/110x110" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Пальто и парки</a>
            </li>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/110x110" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Куртки и дубленки</a>
            </li>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/110x110" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Блузы и рубашки</a>
            </li>
            <li class="catalog-subdir__item">
                <a href="/products-list.html" class="catalog-subdir__item-img"><img src="http://via.placeholder.com/110x110" alt=""></a>
                <a href="/products-list.html" class="catalog-subdir__item-name" data-menu-mobile--item-name>Пальто и парки</a>
            </li>
        </ul>
    </nav>
</section>
<!-- / catalog-subdir END -->