// @class .btn
// @state :hover -  
// @state :disabled -  
// @state .-secondary -  
// @state .-loading -  
// @state .-smaller -  

.btn {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 40px;
    max-width: 100%;
    margin: 0 auto 20px;
    border: none;
    border-radius: 20px;
    background: #3990ab;
    background: linear-gradient(to right, #2c7d9b, #4c9eb6);
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: background,color $transition-time $transition-ease;
    &:hover{
        background: linear-gradient(to right, #3990ab, #3990ab);
    }
    &:disabled{
        background: linear-gradient(to right, #6b6b6b, #a3a2a2);
    }

    &.-secondary {
        background: rgba(#3990ab, 0);
        border: 1px solid #3990ab;
        line-height: 38px;
        color: #000000;
        &:hover{
            color: #fff;
            background: rgba(#3990ab, 1);
        }
        &:disabled{
    
        }
    }

    &.-fullwidth {
        width: 100%;
    }
    &.-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &.-loading{

    }
}

.btns-container {
    &.-align-right {
        @media (min-width: $md) {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
            .btn {
                margin: 0 0 20px 30px;
            }
        }
    }
}