.footer{
  border-top: 2px solid #fff;
  max-width: $content-width + 40px;
  margin: 0 auto;
  background: #3a4750;

  &__container{
    width: 100%;
    display: table;
    
    @media (max-width: $media-md) {
      //display: flex;
      //flex-direction: column;
    }
  }
  &__info{
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 370px;

    @media (max-width: $media-md) {
      display: block;
      width: 100%;
      text-align: center;
    }

    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      width: 1000px; 
      height: 100%;
      background: #e4e8eb;
    }
    &-container{
      width: 90%;
      max-width: 290px;
      position: relative;
      z-index: 2;
      padding: 60px 0 20px;
      @media (max-width: $media-md) {
        margin: 0 auto;
        padding: 30px 0 20px;
      }
    }

    &-contacts{
      padding: 0 0 5px;
      border-bottom: 1px solid #c2c7cc;
      text-align: left;
      &-item{
        position: relative;
        margin: 20px 0;
        padding: 0 0 0 45px;
        color: #000000;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          width: 30px;
          height: 30px;
          margin: -15px 0 0;
          background: url(http://via.placeholder.com/30x30/);
        }
        a{
          font-size: 15px;
        }
        &.-phone{
          a{
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            color: #000000;
          }
        }
        &.-time{

        }
        &.-location{

        }
      }
    }
    &-text{
      font-size: 13px;
      * {
        font-size: 13px;
      }
    }
  }
  &__social-link{
    margin: 15px 0;
    font-size: 0;
    a{
      display: inline-block;
      vertical-align: top;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 0 0 10px;
      &:first-child{
        margin: 0;
      }
    }
  }
  &__menu {
    background: #3a4750;
  }
}

.b-fmenu{
  position: relative;
  @media (max-width: $media-md) {
    display: none;

    &:before{
      display: none;
    }
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 1500px;
    height: 200%;
    background: #3a4750;
  }
  &__container{
    display: table-cell;
    position: relative;
    vertical-align: top;
    z-index: 2;
    padding: 60px 0 40px;
    margin: 0;
    list-style: none;
  }
  &__col{
    padding: 0 0 0 80px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    &-heading{
      display: block;
      font-size: 35px;
      line-height: 45px;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item{
    margin: 0 0 20px;
    a{
      display: block;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      padding: 0 0 0 14px;
      transition: 0.3s;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left:0;
        top:-1px;
        display: block;
        width: 3px;
        height: 100%;
        background: #fff;
      }
      &:hover{
        transform: translateX(16px);
      }
    }
  }
}