// BASE ================================================================================================================
* {
    box-sizing: border-box;
    outline: none !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    max-height: 999999px;
    max-width: 100%;
    width: 100%; 
}

// LAYOUT ==============================================================================================================
.l-wrapper,
.l-main,
.l-header,
.l-footer {
    width: 100%;
    position: relative;
}

.l-wrapper {
    flex: 1 0 auto;
    overflow: hidden;
}

.l-header {
    z-index: 10;
}

.l-main {
    z-index: 5;
}

.l-footer {
    overflow: hidden;
}

.l-container {
    max-width: $content-width;
    margin: 0 auto; 
    @media (max-width: ( $content-width + $content-gap * 2)) {
        width: auto;
        max-width: 100%;
        margin: 0 $content-gap;
    }
    // @include cfix();
}

.l-content {
    display: block;
    padding: 0 0 60px;
    
}

.inner-page .l-main {
    max-width: $content-width;
    margin: 0 auto;
    @media (max-width: ( $content-width + $content-gap * 2)) {
        width: auto;
        max-width: 100%;
        margin: 0 $content-gap;
    }
}
 

.title_field{
    display: none !important;
}

.pswp__bg {
    opacity: 0.7 !important;
}

.scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 50;
    display: block;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    font-size: 0;
    text-align: center;
    cursor: pointer;
    transition: opacity .2s;
    background: #0090cc;
    border: 1px solid #0090cc;
    transform: rotate(90deg);

    opacity: 0;
    pointer-events: none;

    @media (max-width: $md) {
        right: 20px;
        bottom: 20px;
    }

    svg{
        fill: #fff;
    }
}

.markerLabels{
  font-size: 15px;
  transform: translate(15px, -30px);
  color: #c74747 !important;
  font-weight: 500;
  text-shadow: 0 0 4px  rgba(255, 255, 255, 0.5);
}