@media print {

  .no-print{
    display: none !important;
  }

  .l-header,
  .l-footer  {
    display: none !important;
  }

  .print-btn{
    display: none !important;
  }

  form{
    display: none !important;
  }
}
