// GLOBAL ==============================================================================================================
$mobile-view: 980px;
$xxs: 320px;     // iphone5 в портретной ориентации
$xs: 414px;      // iphone plus в портретной ориентации
$sm: 568px;      // 
$md: 820px;      // планшеты в портретной ориентации / телефоны в альбомной
$lg: 1024px;     // планшеты в альбомной ориентации
$xl: 1280px;     // ширина контента широкого сайта ( 1170 например )

$content-width: 960px; // ширина контена
$content-gap: 15px;    // боковой отступ контента ( на адаптиве )


// ANIMATIONS ==========================================================================================================

$translate-time: 0.3s;
$translate-ease: ease;


// FONTS ===============================================================================================================

$font-main: 'Open Sans', sans-serif;             // основной шрифт
$font-second: '';                                // дополнительный шрифт
$font-size-base: 15px;                           // базовый размер шрифта
$font-weight-base: 400;
$line-height-base: 21px;                         // базовый междустрочный интервал

$text-margin: 20px;                              // отступ между элементами в тексте


// COLORS ==============================================================================================================

$color-base: #404040;                            // базовый цвет текста
$color-base-invert: #fff;                        // инвертированый цвет текста
$color-heading: #171717;                         // инвертированый цвет текста
$color-link: #dc552c;                            // цвет текстовых ссылок
$color-hover: #e94918;                           // цвет при ховере
$color-active: $color-hover;                       // цвет для активных состояний
$color-accent: #f82951;                          // цвет для элементов, на которых нужно акцентировать внимание (ошибки)
$color-disable: #cdd1d3;                         // цвет нективных
$color-orange: #dc552c;                          // цвет нективных
$color-blue: #194769;                            // цвет нективных
