.work-scheme{
  padding: 0 20px;
  overflow: hidden;
  background: rgba(236,236,238,1);
  background: linear-gradient(to bottom, rgba(245,245,246,1) 0%, rgba(240,240,241,1) 100%);

  &__container{
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: 20px 0 30px;

    background: url(http://via.placeholder.com/300x450) right bottom no-repeat;

    @media (max-width: $media-lg - 1) {
      background: none;
    }
  }
  &__title{
    margin-bottom: 50px;
  }
  &__list{
    @include grid(30px);
    width: 68.75%;

    @media (max-width: $media-lg - 1) {
      width: 100%;
    }
    @media (max-width: $media-sm) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item{
    @include grid-col(1/3,30px);

    @media (max-width: $media-sm) {
      @include grid-col(1,30px);
    }

    margin-bottom: 50px;
    position: relative;
    @media (min-width: $media-sm) {
      &:nth-child(3n+1):before,
      &:nth-child(3n+2):before{
        content: '';
        display: block;
        width: 66%;
        height: 2px;
        background: #bacdd8;
        position: absolute;
        top: 33px;
        left: calc(100% + 15px);
        transform: translateX(-50%);
      }
    }

    @media (max-width: $media-sm) {
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 30px;
        background: #bacdd8;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateY(100%);
      }
      &:last-child:before{
        display: none;
      }
    }

    &-img{
      position: relative;
      width: 66px;
      height: 66px;
      margin: 0 auto 10px;
      border: 2px solid #c9cfd3;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }


    }
    p{
      font-size: 15px;
      font-weight: 600;
      color: #3a4750;
      text-align: center;
      margin: 0 0 10px;
    }
  }
}
