body .hidden{
  display: none;
  @media (max-width: $xl){
    &-xl{
      display: none;
    }
  }
  @media (max-width: $lg){
    &-lg{
      display: none;
    }
  }
  @media (max-width: $md){
    &-md{
      display: none;
    }
  }
  @media (max-width: $sm){
    &-sm{
      display: none;
    }
  }
  @media (max-width: $xs){
    &-xs{
      display: none;
    }
  }
}
