.menu-top{
  display: block;
  max-width: 100%;

  background: #3a4750;

  @include media-min(1024px) {

    &__switcher,
    &__title{
      display: none;
    }

    &__list{
      display: block;
      width: 100%;
      height: 60px;
      padding: 0;
      margin: 0 auto;
      list-style: none;
      text-align: left;
      font-size: 0;
      white-space: nowrap;

      max-width: 1008px;
    }
    &__item{
      display: inline-block;
      padding: 0;
      margin: 0;
      &.-hidden{
        display: none !important;
      }
      &.-extraBar{}
      &.is-active > .menu-top__item-name,
      &:hover > .menu-top__item-name{
        background: #fff;
        color: #3a4750;
      }
    }
    &__item-name{
      display: block;
      position: relative;
      text-decoration: none;
      transition: .2s;
      cursor: pointer;

      padding: 0 24px;
      font-size: 15px;
      line-height: 60px;
      color: #fff;
    }

    &__drop-down{
      position: absolute;
      padding: 0;
      display: block;
      @include smooth-drop-down-hide(true){
        transition: transform .2s cubic-bezier(0.68,-0.55,0.265,1.55),opacity .2s  cubic-bezier(0.68,-0.55,0.265,1.55);
      };

      min-width: 256px;
      left: 0;
      top: 60px;
      background: #f4d25e;
    }

    .-has-drop-down.-drop-down-inverse .menu-top__drop-down{
      left: auto;
      right: 0;
    }

    .-has-drop-down{
      position: relative;
      & .menu-top__list{
        z-index: 3;
        position: relative;
      }

      &:hover .menu-top__drop-down{
        @include smooth-drop-down-show();
      }

      .menu-top__item{
        display: block;
        width: 100%;
        margin: 0;

        &.is-active,
        &:hover{
          background: #5d8ea8;
        }
      }
      * .menu-top__item-name{
        font-size: 15px;
        text-transform: uppercase;
        color: #3a4750;
        background: #fff;
      }
    }

  }


  @include media-max(1023px){
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;

    &__switcher{
      position: absolute;
      right: 20px;
      top: 20px;

      display: block;
      width: 50px;
      height: 50px;
      background: #f4d25e;
      font-size: 0;
      cursor: pointer;
      z-index: 250;


      &-btn{
        display: block;
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        cursor: pointer;
        span{
          position: absolute;
          left: 50%;
          top: 50%;
          display: block;
          width: 21px;
          height: 3px;
          margin: -1px 0 0 -11px;
          background: #383838;
          border: none;

          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 21px;
            height: 3px;
            margin: -6px 0 0 0;
            background: #383838;
            transition: .2s;
          }
          &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 21px;
            height: 3px;
            margin: 6px 0 0 0;
            background: #383838;
            transition: .2s;
          }
        }


      }
    }


    &.is-opened .menu-top__switcher{
      z-index: 450;
      &-btn{
        span{
          background: #f4d25e;
          &:before{
            margin: 0;
            transform: rotate(45deg);
          }
          &:after{
            margin: 0;
            transform: rotate(-45deg);
          }
        }

      }
    }


    &__title{
      position: fixed;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      padding: 25px 20px;
      line-height: 35px;
      z-index: 120;

      font-size: 25px;
      color: #000000;
      background: #f4d25e;

      transition: 0.2s;
      transform: translateX(100%);
      &-btn{
        font-size: 25px;
        color: #000000;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    &.is-opened .menu-top__title{
      transform: translateX(0);
      z-index: 430;
    }
    &.is-opened .menu-top__list{
      transform: translateX(0);
      z-index: 420;
    }

    &__list{
      position: fixed;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 85px 0 0 0;
      list-style: none;
      background: #302f2d;
      z-index:100;
      overflow: scroll;
      transition: 0.2s;
    }
    & > .menu-top__list{
      transform: translateX(100%);
    }
    &.is-opened > .menu-top__list{
      transform: translateX(0);
    }

    &__item{
      display: block;
      border-bottom: 1px solid #3b3a38;
      padding: 0;
    }
    &__item-name{
      display: block;
      color: #fff;
      text-decoration: none;
      border-bottom: none !important;
      padding: 10px 40px 10px 20px;
      position: relative;
      &:after{
        content: "\e902";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: 50%;
        margin: -20px 0 0 0;
        text-align: center;
        color: #fff;
        font-size: 25px;
        line-height: 40px;
        font-weight: 300;
      }


    }
    .-has-drop-down {
      & .menu-top__list {
        transition: transform 0.2s;
        transform: translateX(100%);
        z-index:101;

      }
      & > .menu-top__item-name:after{
        content: "\e905";
      }
    }
    .menu-top__drop-down{

    }

  }

}