.banners{
  width: 100%;
  max-width: $content-width;
  margin: 60px auto 1px;
  padding:  0 ;
  &__container{
    //@include grid(22px);
  }
  &__item{
    //@include grid-col(1/3, 22px);
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &-img{
      display: block;
      width: 100%;
      height: 150px;

      img{
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
    &-text{
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      padding: 5px 25px 15px;
      pointer-events: none;
      color: #fff;

      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 0;
        box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.3);
      }
      p{
        margin: 0;
        color: #fff;
        font-size: 14px;
        position: relative;
        z-index: 2;
     }
    }
    &-title{
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      z-index: 2;
    }
  }
}