.news-widget{
  padding: 60px 0 82px;
  background: #fff;
  position: relative;
  overflow: hidden;

  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    z-index: 3;
    display: block;
    width: 480px;
    height: 100%;
    pointer-events: none;
  }
  &:before{
    left: 50%;
    margin-left: -1000px;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);

  }
  &:after{
    right: 50%;
    margin-right: -1000px;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
  }

  &__header{
    display: block;
    width: 100%;
    max-width: $content-width + 40px;
    padding: 0 20px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative;
    z-index: 5;
  }
  &__title{
    float: left;
    &>*{
      margin: 0;
    }
  }
  &__nav{
    float: right;
    @include media-max(420px){
      display: none;
    }
  }
  &__carousel{

  }
  &__item{
    width: 305px;
    overflow: hidden;
  }
  .owl-stage-outer{
    padding: 5px 0 10px;
  }
}

.news-item{
  position: relative;
  padding: 0 0 0 50px;
  &:after{
    content: '';
    position: absolute;
    left: 33px;
    top: 0;
    z-index: 1;
    display: block;
    width: 2px;
    height: 100%;
    background: #5d8ea8;
    opacity: 0;
    transition: 0.3s;
  }
  &__date{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 35px;
    height: 70px;
    background: #fff;
    &-day{
      display: block;
      font-size: 26px;
      color: #2c2c2c;
      line-height: 36px;
      text-align: center;
      white-space: nowrap;
    }
    &-month{
      display: block;
      font-size: 11px;
      line-height: 14px;
      color: #2c2c2c;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;
    }
  }
  &__text{
    padding: 0;
    position: relative;
    transition: 0.3s;
    p{
      margin: 15px 0 0;
    }
  }
  &__name{
    display: inline;
    color: #5d8ea8;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #5d8ea8;
    transition: 0.3s;
  }

  &:hover {
    &:after{
      opacity: 1;
      pointer-events: auto;
    }
    .news-item{
      &__name{
        border-bottom: 1px solid transparent;
      }
    }
  }
}