.bottom-feedback{
  padding: 50px 20px 70px;
  position: relative;

  &__container{
    width: 100%;
    max-width: $content-width;
    margin: 0 auto 0;
    position: relative;
    z-index: 3;
    @include cfix-after();
  }

  &__form{
    float: right;
    width: 100%;
    max-width: 380px;
    padding: 35px;

    background: #e4e8eb;
    border-radius: 10px;
    box-shadow: 0 0 28.71px 0.29px rgba(35, 57, 68, 0.26);
  }

  &__map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #aaceff;
  }

}