{% extends "./_layout.twig" %}

{# Настройки #} 
{% block title %}Text page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}


{% block main %} 

<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Корзина</span>
</div> 
<h1>Корзина</h1>
<div class="l-content">

</div>

{% endblock %}  
