{% extends "./_layout.twig" %}

{# Настройки #} 
{% block title %}Contacts page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}


{% block main %} 

<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Contacts</span> 
</div>
<h1>Contacts</h1>
<div class="l-content">
    {% include '../templates-html/text/contacts/base-2__contacts.twig' %}
    {#{% include '../templates-html/feedback/base-2__feedback-container-inner.twig' %}#}
</div>

{% endblock %}  
