{% extends "./_layout.twig" %}

{# Настройки #} 
{% block title %}Gallery list page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}


{% block main %} 

<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Gallery list</span> 
</div>
<h1>Gallery list</h1>
<div class="l-content">
    {% include '../templates-html/gallery/list/base-1__gallery-list.twig' %}
    {% include '../templates-html/common/pagination/default__pagination.twig' %}

    {% include '../templates-html/text/default__short-text.twig' %}
</div>

{% endblock %}  
