{% extends "./_layout.twig" %}

{# Настройки #} 
{% block title %}Products list page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}


{% block main %} 

<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Products show</span> 
</div>
<h1>Products show</h1>
<div class="l-content">
    {% include '../templates-html/products/show/base-1__products-show.twig' %}
    {% include '../templates-html/products/similar/base-1__products-similar.twig' %}
</div>

{% endblock %}  
