{% extends "./_layout.twig" %}

{# Настройки #} 
{% block title %}Publications list page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}

{% block main %} 

<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Publications list</span> 
</div>
<h1>Publications list</h1>
<div class="l-content">
    {% include '../templates-html/publication/list/base-1__publication-list-article.twig' %} 
    {% include '../templates-html/common/pagination/default__pagination.twig' %}
    {% include '../templates-html/text/default__short-text.twig' %}
</div>

{% endblock %}  
