{% extends "./_layout.twig" %}

{# Настройки #} 
{% block title %}Reviews list page | template site {% endblock %}
{# {% block body_class %}home-page{% endblock %} #}


{% block main %} 

<div class="breadcrumbs"> 
    <a href="/">Home</a> 
    <span>Reviews list</span> 
</div>
<h1>Reviews list</h1>
<div class="l-content">
    {% include '../templates-html/reviews/list/base-2__reviews-list.twig' %}
    {% include '../templates-html/common/pagination/default__pagination.twig' %}
    {% include '../templates-html/reviews/form/base-2__reviews-form.twig' %}
    {% include '../templates-html/text/default__short-text.twig' %}
</div>

{% endblock %}  
