.catalog-menu{
  padding: 15px 0;
  border-bottom: 2px solid #e4e8eb;

  &__container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  &__list{
    display: block;
    padding:0;
    list-style: none;

  }
  &__item{

  }

  &.-count-2{
    $grid-gap: 16px;
    .catalog-menu__list{
      @include grid($grid-gap);
    }
    .catalog-menu__item{
      @include grid-col(1/2, $grid-gap);
    }
  }
  &.-count-3{
    $grid-gap: 16px;
    .catalog-menu__list{
      @include grid($grid-gap);
    }
    .catalog-menu__item{
      @include grid-col(1/3, $grid-gap);
    }
  }
  &.-count-5{
    $grid-gap: 22px;
    .catalog-menu__list{
      @include grid($grid-gap);
    }
    .catalog-menu__item{
      @include grid-col(1/5, $grid-gap);
    }
  }
}

.catalog-menu-item{
  display: table;
  position: relative;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);

  &__img{
    display: table-cell;
    vertical-align: middle;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &__name{
    display: table-cell;
    vertical-align: middle;
  }
  &__link{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  &.-vertical{
    display: block;
    .catalog-menu-item__img{
      display: block;
    }
    .catalog-menu-item__name{
      display: block;
    }
    .catalog-menu-item{

    }
  }
}