.text-block{
  padding: 20px 0 60px;
  overflow: hidden;
  &.-top{

  }
  &.-bottom{
    padding: 40px 0 60px;
    background: #e4e8eb;
  }
  &__container{
    width: 100%;
    max-width: $content-width + 40px;
    margin: 0 auto;
    padding: 0 20px;
  }


  @include media-max(960px){

  }

}