.articles-widget{
  padding: 60px 0 82px;
  background: #e4e8eb;
  position: relative;
  overflow: hidden;

  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    z-index: 3;
    display: block;
    width: 480px;
    height: 100%;
    pointer-events: none;
  }
  &:before{
    left: 50%;
    margin-left: -1000px;
    background: linear-gradient(to right, rgba(228,232,235,1) 0%, rgba(228,232,235,1) 20%, rgba(255,255,255,0) 100%);

  }
  &:after{
    right: 50%;
    margin-right: -1000px;
    background: linear-gradient(to left, rgba(228,232,235,1) 0%, rgba(228,232,235,1) 20%, rgba(255,255,255,0) 100%);
  }

  &__header{
    display: block;
    width: 100%;
    max-width: $content-width + 40px;
    padding: 0 20px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative;
    z-index: 5;
  }
  &__title{
    float: left;
    &>*{
      margin: 0;
    }
  }
  &__nav{
    float: right;
    @include media-max(420px){
      display: none;
    }
  }
  &__carousel{

  }
  &__item{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgba(69, 69, 69, 0.26);
    width: 305px;
    height: 421px;
    border-radius: 5px;
    overflow: hidden;
  }
  .owl-stage-outer{
    padding: 5px 0 10px;
  }
}

.article-item{
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    background: linear-gradient(to top, rgba(93,142,168,1) 0%, rgba(93,142,168,1) 20%, rgba(255,255,255,0) 100%);
  }
  &__img{
    display: table;
    width: 100%;
    height: 181px;
    border-bottom: 1px solid #dadee0;
    a{
      display: table-cell;
      vertical-align: middle;
    }
    img{
      display: block;
      width: 100%;
      height: 181px;
      object-fit: cover;
    }
  }
  &__text{
    height: 240px;
    padding: 5px 22px 20px;
    position: relative;
    background: #3a4750;
    transition: 0.3s;
    color: #fff;
  }
  &__name{
    color: #bae8ff;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    display: block;
    margin: 15px 0;
  }
  &__link{
    display: block;
    width: 146px;
    height: 41px;
    position: absolute;
    left: 50%;
    bottom: 26px;
    z-index: 3;
    margin-left: -78px;
    background: #ffffff;
    color: #5d8ea8;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    &:hover{
      opacity: 0.8;
    }
  }
  &:hover {
    &:after{
      opacity: 1;
      pointer-events: auto;
    }
    .article-item{
      &__text{
        background: #5d8ea8;
      }
      &__name {
        color: #fff;
      }
      &__link{
        opacity: 1;
        pointer-events: auto;
      }
    }

  }
}