.prod-widget {
    margin: 60px auto 80px;
    padding: 1px 0 20px;
    position: relative;
    border-radius: 10px;
    background: #f5f5f5;
    margin: 60px auto 80px;
    @media (max-width: 1023px) { 
        background: transparent;
        margin: 60px 0 40px !important;
    }
    &__container{
        padding: 0;
        @media (min-width: 1024px) { 
            padding: 0 60px;
        }
    }
    &__header {
        display: block;
        text-align: center;
        margin: 0 auto 20px;
        @media (min-width: 1024px) { 
            margin: -23px auto 30px;
        }
    }
    &__btn.btn{
        background: #fff;
        margin-left: 20px;
        margin-right: 20px;
        &.is-active{
            background: #3990ab;
            background: linear-gradient(to right, #2c7d9b, #4c9eb6);
            color: #fff;
        }
        @media (max-width: $md) { 
            min-width: 280px;
            margin: 0 auto 10px;
        }
    }
    &__content{
        background: #f5f5f5;
        padding: 15px 15px;
        @media (min-width: 1024px) { 
            padding: 15px 0;
            background: transparent;
        }
    }
    &__carousel {
        @media (min-width: 1024px) { 
            @include grid(15px);
        }
        touch-action: none;
    }
    &__item {
        @media (min-width: 1024px) {
            width: 210px;
            @include grid-col(1/4, 15px);
            margin-bottom: 30px;
        }
    }
    .owl-stage-outer {
        padding: 5px 0 10px;
    }


    .owl-dots{
        margin-top: 5px;
        button {
            display: inline-block;
            width: 14px;
            height: 14px;
            padding: 0;
            margin: 4px 7px;
            border-radius: 50%;
            background: #88a0ab;
            font-size: 0;
            opacity: 1;
            &.active{
                background: #29363e;
            }
        }
    }
}