.product-show{
    display: flex;  
    flex-wrap: wrap;
    
    &__images{
        width: auto;
        flex-grow: 1;
        margin-bottom: 20px;
        @media (max-width: $md) {
            width: 100%;
        }
    }
    &__details{
        width: 450px;
        margin-left: 20px;
        margin-bottom: 20px;
        @media (max-width: $md) {
            width: 100%;
            margin-left: 0;
        }
    }
    &__additional{
        width: 100%;
    }
}

.images-main{
    position: relative;
    width: 100%;
    padding: 0 0 300px;
    margin-bottom: 10px;
    &__container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__item{
        img{
            display: block;
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__nav{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        button{
            position: absolute;
            top: 131px;
            &.-prev{
                left: 20px;
            }
            &.-next{
                right: 20px;
            }
        }
        @include media-max(420px){
          display: none;
        }
      }
}

.images-thumb{
    position: relative;
    width: 100%;
    padding: 0 0 50px;
    &__container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__item{
        display: block !important;
        max-height: 50px;
        width: 100px !important;
        margin: 0 auto;
        cursor: pointer;
        img{
            display: block;
            width: 100%;
            height: 50px;
            object-fit: cover;
        }
    }
    .slick-current .images-thumb__item{
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            border: 3px solid #fff;
        }
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            border: 1px solid #3990ab; 
        }
    }
}

.product-details{
    padding: 1px 0; 
    min-height: 380px;
    @media (max-width: $md) {
        min-height: auto;
    }
    &__price{
        font-size: 26px;
        color: #333333;
        margin-bottom: 20px;
    }
    &__count{
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        input{
            border-color: #000000 !important;
            width: 65px !important;
            height: 40px !important;
        }
    }
    &__btn{
        display: inline-block;
        vertical-align: top;
    }
}

.product-tabs{
    &__container{

    }
    &__header{
        display:block;
        
        font-size: 0;
        overflow: hidden;
        line-height: 50px;
    }
    &__btn{
        display: inline-block;
        vertical-align: top;
        width: auto;
        min-width: 190px;
        height: 50px;
        padding: 0 20px;
        font-size: 14px;
        color: #ffffff;
        background: #3990ab;
        border: none;
        border-right: 1px solid #fff;
        cursor: pointer;
        &:first-child{
            border-radius: 10px 0 0 0;
        }
        &:last-child{
            border-radius: 0 10px 0 0;
        }
        &:hover,
        &.is-active{
            color: #000000;
            background: #e9e9e9;
        }
    }
    &__content{
        padding: 10px 50px 30px;
        background: #e9e9e9;
        border-radius: 0 10px 10px 10px;
        &-item{
            color: #000000;
        }
    }
}

.product-reviews{
    &__item{
        margin-bottom: 20px;
        &-header{
            display: block;
        }
        &-author{
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            font-weight: bold;
            margin-right: 10px;
            line-height: 30px;
        }
        &-date{
            display: inline-block;
            vertical-align: middle;
            font-size: 10px;
            text-transform: uppercase;
            color: #000000;
            background: #fff;
            padding: 0 25px;
            border-radius: 15px;
            line-height: 30px;
        }
        &-text{
            padding: 5px;
            p{
                margin: 5px 0;
            }
        }
    }
    &__form{
        background: #28353f;
        border-radius: 10px;
        padding: 20px 20px;
        margin-bottom: 20px;
        color: #fff;
        &-container{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
    }
}