<div class="product-show">
        <div class="product-show__images">
            <div class="images-main js-images-main">
                <div class="images-main__container js-slider">
                    <div class="images-main__item"><img src="http://via.placeholder.com/490x300" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/490x300" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/490x300" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/490x300" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/490x300" alt="" title=""></div>    
                    <div class="images-main__item"><img src="http://via.placeholder.com/490x300" alt="" title=""></div>         
                </div>
                <div class="images-main__nav nav-arrow  js-nav-arrow">
                    <button class="nav-arrow__btn -prev js-nav-prev">prev</button>
                    <button class="nav-arrow__btn -next js-nav-next">next</button>
                </div>
            </div>
            <div class="images-thumb">
                <div class="images-thumb__container js-images-thumb">
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/100x50" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/100x50" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/100x50" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/100x50" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/100x50" alt="" title=""></div>             
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/100x50" alt="" title=""></div>             
                </div>
            </div>
        </div>
        <div class="product-show__details">
            <div class="product-details">
                <div class="product-details__form">
                    <form action="">
                        <button class="product-details__btn btn">Оформить заказ</button>
                    </form>
                    <div class="product-details__price">24 990 руб.</div>
                </div>
                <p>In M/Y Notorious, Sunseeker have crafted a flawless ship that shows exactly why they’re so renowned. Built for pure luxury and style, The Sunseeker 28m, M/Y Notorious gives the feel and volume of a 30m. Don’t wait around and miss the opportunity of a lifetime to feel like royalty. Notorious will have you surrounded by impeccable design, the latest in-home entertainment and deluxe cabins.</p>
                <p>Notorious’ vast and comfortable cabins are perfect to bring your family or friends on your oceanic adventure. The ship’s 4 rooms are capable of sleeping a total of 10 people. Each room has been perfectly crafted to give you the most comfortable experience you could have at sea. The cabins include a master cabin, a VIP guest cabin and two double cabins each with a Pullman style beds. </p>
            </div>
            
        </div>
        <div class="product-show__additional product-tabs js-prod-tabs">

            <div class="product-tabs__container js-tabs">
                <div class="product-tabs__header js-tabs-nav">
                    <button class="product-tabs__btn js-tabs-nav-item">Характеристики</button>
                    <button class="product-tabs__btn js-tabs-nav-item">Описание</button>
                    <button class="product-tabs__btn js-tabs-nav-item">Отзывы о товаре (2)</button>
                </div>
                <div class="product-tabs__content js-tabs-content">
                    <div class="product-tabs__content-item js-tabs-content-item">
                        <h3>Характеристики</h3>
                        <p>test 1</p>
                    </div>
                    <div class="product-tabs__content-item js-tabs-content-item">
                        <h3>Описание</h3>
                        <p>In M/Y Notorious, Sunseeker have crafted a flawless ship that shows exactly why they’re so renowned. Built for pure luxury and style, The Sunseeker 28m, M/Y Notorious gives the feel and volume of a 30m. Don’t wait around and miss the opportunity of a lifetime to feel like royalty. Notorious will have you surrounded by impeccable design, the latest in-home entertainment and deluxe cabins.</p>
                        <p>Notorious’ vast and comfortable cabins are perfect to bring your family or friends on your oceanic adventure. The ship’s 4 rooms are capable of sleeping a total of 10 people. Each room has been perfectly crafted to give you the most comfortable experience you could have at sea. The cabins include a master cabin, a VIP guest cabin and two double cabins each with a Pullman style beds. </p>
                        <p>In M/Y Notorious, Sunseeker have crafted a flawless ship that shows exactly why they’re so renowned. Built for pure luxury and style, The Sunseeker 28m, M/Y Notorious gives the feel and volume of a 30m. Don’t wait around and miss the opportunity of a lifetime to feel like royalty. Notorious will have you surrounded by impeccable design, the latest in-home entertainment and deluxe cabins.</p>
                        <p>Notorious’ vast and comfortable cabins are perfect to bring your family or friends on your oceanic adventure. The ship’s 4 rooms are capable of sleeping a total of 10 people. Each room has been perfectly crafted to give you the most comfortable experience you could have at sea. The cabins include a master cabin, a VIP guest cabin and two double cabins each with a Pullman style beds. </p>
                    </div>
                    <div class="product-tabs__content-item js-tabs-content-item">
                        <h3>Отзывы о товаре</h3>
                        <div class="product-reviews">
                            <div class="product-reviews__item">
                                <div class="product-reviews__item-header">
                                    <span class="product-reviews__item-author">Алиса</span>
                                    <span class="product-reviews__item-date">15 дек 2017</span>
                                </div>
                                <div class="product-reviews__item-text">
                                    <p>Флористы приветливые, букет шикарный. Самое приятное, что можно смешивать розы как хочется. Композиции дороговаты, это наверное из-за горшков. Но выглядят чудесно. Сам магазин выглядит очень современно и одновременно романтично.</p>
                                </div>
                            </div>
                            <div class="product-reviews__item">
                                <div class="product-reviews__item-header">
                                    <span class="product-reviews__item-author">Алиса</span>
                                    <span class="product-reviews__item-date">15 дек 2017</span>
                                </div>
                                <div class="product-reviews__item-text">
                                    <p>Флористы приветливые, букет шикарный. Самое приятное, что можно смешивать розы как хочется. Композиции дороговаты, это наверное из-за горшков. Но выглядят чудесно. Сам магазин выглядит очень современно и одновременно романтично.</p>
                                </div>
                            </div>
                            {% include '../../common/pagination/default__pagination.twig' %}
                            <div class="product-reviews__form">
                                <div class="product-reviews__form-container form -columns">
                                    <div class="form__heading">Напишите нам</div>
                                    <form action="" class="ajax" data-goal-name="Feedback" data-goal-category="Enquiry">
                                        <div class="col-1-2">
                                            <div class="form__item -name">
                                                <input type="text" placeholder="Как вас зовут?">
                                                <div class="form__item-error"></div>
                                            </div>
                                        </div>
                                        <div class="col-1-2">
                                            <div class="form__item -email">
                                                <input type="email" placeholder="Электронная почта">
                                                <div class="form__item-error"><ul><li>Неправильный формат. Пример: 88008008080</li></ul></div>
                                            </div>
                                        </div>
                                        <div class="col-1-1">
                                            <div class="form__item -text">
                                                <textarea placeholder="Текст сообщения"></textarea>
                                                <div class="form__item-error"></div>
                                            </div>
                                        </div>
                                
                                        <div class="col-1-1 btns-container">
                                            <div class="privacy-police -center">
                                                Нажимая на кнопку, я даю согласие <br> на <a href="">обработку персональных данных</a>
                                            </div>
                                            <button class="btn -center" type="submit">Отправить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    