<div class="product-show">
        <div class="product-show__images">
            <div class="images-main js-images-main">
                <div class="images-main__container js-slider">
                    <div class="images-main__item"><img src="http://via.placeholder.com/640x480" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/640x480" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/640x480" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/640x480" alt="" title=""></div>
                    <div class="images-main__item"><img src="http://via.placeholder.com/640x480" alt="" title=""></div>    
                    <div class="images-main__item"><img src="http://via.placeholder.com/640x480" alt="" title=""></div>         
                </div>
                <div class="images-main__nav nav-arrow  js-nav-arrow">
                    <button class="nav-arrow__btn -prev js-nav-prev">prev</button>
                    <button class="nav-arrow__btn -next js-nav-next">next</button>
                </div>
            </div>
            <div class="images-thumb">
                <div class="images-thumb__container js-images-thumb">
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/70x70" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/70x70" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/70x70" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/70x70" alt="" title=""></div>
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/70x70" alt="" title=""></div>             
                    <div class="images-thumb__item"><img src="http://via.placeholder.com/70x70" alt="" title=""></div>             
                </div>
            </div>
        </div>
        <div class="product-show__details">
            <div class="product-details">
                <div class="product-details__item">
                    <span>Capacity:</span>
                    <strong>20</strong>
                </div>
                <div class="product-details__item">
                    <span>Duration:</span>
                    <strong>Minimum 2 hour</strong>
                </div>
                <div class="product-details__item">
                    <span>Price per hour:</span>
                    <strong>AED 1500</strong>
                </div>
                <div class="product-details__item">
                    <span>Price per day:</span>
                    <strong>AED 15000</strong>
                </div>
                <button class="product-details__btn btn">Book Now</button>
            </div>
        </div>
        <div class="product-show__description">
            <h2>Description </h2>
            <p>In M/Y Notorious, Sunseeker have crafted a flawless ship that shows exactly why they’re so renowned. Built for pure luxury and style, The Sunseeker 28m, M/Y Notorious gives the feel and volume of a 30m. Don’t wait around and miss the opportunity of a lifetime to feel like royalty. Notorious will have you surrounded by impeccable design, the latest in-home entertainment and deluxe cabins.</p>
            <p>Notorious’ vast and comfortable cabins are perfect to bring your family or friends on your oceanic adventure. The ship’s 4 rooms are capable of sleeping a total of 10 people. Each room has been perfectly crafted to give you the most comfortable experience you could have at sea. The cabins include a master cabin, a VIP guest cabin and two double cabins each with a Pullman style beds. The Master suite is full beam and is geared with a love seat, vanity/desk, king sized bed and ensuite facilities that have a set of his & hers sinks. The ship also features separate cabin quarters for crew. The rest of the ship is just as well furnished. The saloon has two sofas as well as a coffee table perfectly set to watch the giant 70 inch 4k TV. Above the saloon is the spacious fly bridge which can be easily accessed by the aft deck.</p>
            <p>Notorious owes its brilliant design and attention to detail to Sunseeker, who’ve created an experience that is to die for. Originally built in 2008, the ship is 28 metres in length, with 6.3 metre beam and 2 metre draft. Notorious has a cruise speed of 20 knots and can reach a maximum speed of 28 knots powered by two, Caterpillar engines.</p>
        </div>
    </div>
    